@model BNP.CMM.API.Models.CmmViewModel
@{
    ViewData["Title"] = "BNP CMM";
}

<div>
    <form asp-action="Incluir" asp-controller="Home" method="post">
        <table>
            <tr>
                <td><label for="mes">Mês:</label></td>
                <td>
                    <input asp-for="NewManualMovement.Month" />
                    <span asp-validation-for="NewManualMovement.Month" class="text-danger"></span>
                </td>

                <td><label for="ano">Ano:</label></td>
                <td>
                    <input asp-for="NewManualMovement.Year" />
                    <span asp-validation-for="NewManualMovement.Year" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label for="produto">Produto:</label></td>
                <td>
                    <select asp-for="Products">
                        <option value="">Selecione</option>
                        <option value="produto1">Produto 1</option>
                        <option value="produto2">Produto 2</option>
                    </select>
                    <span asp-validation-for="Products" class="text-danger"></span>
                </td>
                <td><label for="cosif">Cosif:</label></td>
                <td>
                    <select asp-for="Cosifs">
                        <option value="">Selecione</option>
                        <option value="cosif1">Cosif 1</option>
                        <option value="cosif2">Cosif 2</option>
                    </select>
                    <span asp-validation-for="Cosifs" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label for="valor">Valor:</label></td>
                <td>
                    <input asp-for="NewManualMovement.Amount" />
                    <span asp-validation-for="NewManualMovement.Amount" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label for="descricao">Descrição:</label></td>
                <td colspan="3">
                    <textarea asp-for="NewManualMovement.Description"></textarea>
                    <span asp-validation-for="NewManualMovement.Description" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="buttons">
                    <button type="reset">Limpar</button>
                    <button type="button">Novo</button>
                    <button type="submit">Incluir</button>
                </td>
            </tr>
        </table>
    </form>
</div>
