@model BNP.CMM.API.Models.CmmViewModel
@{
    ViewData["Title"] = "BNP CMM";
}

<div>
    <form asp-action="Incluir" asp-controller="Home" method="post">
        <table>
            <tr>
                <td><label for="mes">Mês:</label></td>
                <td>
                    <input asp-for="NewManualMovement.Month" />
                    <span asp-validation-for="NewManualMovement.Month" class="text-danger"></span>
                </td>

                <td><label for="ano">Ano:</label></td>
                <td>
                    <input asp-for="NewManualMovement.Year" />
                    <span asp-validation-for="NewManualMovement.Year" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label for="NewManualMovement.ProductId">Produto:</label></td>
                <td>
                    <select id="productSelected" asp-for="NewManualMovement.ProductId" class="form-control"
                            asp-items="@(new SelectList(Model.Products, "ProductId", "Description"))">
                        <option value="">-- Selecione o Produto --</option>
                    </select>
                    <span asp-validation-for="NewManualMovement.ProductId" class="text-danger"></span>
                </td>
                <td><label for="NewManualMovement.CosifId">Cosif:</label></td>
                <td>
                    <select id="cosifSelect" asp-for="NewManualMovement.CosifId" class="form-control"
                            asp-items="@(new SelectList(Model.Cosifs, "CosifId", "ClassificationCode"))">
                        <option value="">-- Selecione o Cosif --</option>
                    </select>
                    <span asp-validation-for="NewManualMovement.CosifId" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label for="valor">Valor:</label></td>
                <td>
                    <input asp-for="NewManualMovement.Amount" />
                    <span asp-validation-for="NewManualMovement.Amount" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label for="descricao">Descrição:</label></td>
                <td colspan="3">
                    <textarea asp-for="NewManualMovement.Description"></textarea>
                    <span asp-validation-for="NewManualMovement.Description" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="buttons">
                    <button type="reset">Limpar</button>
                    <button type="button">Novo</button>
                    <button type="submit">Incluir</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const cosifData = @Html.Raw(Json.Serialize(Model.Cosifs));

        $('#productSelected').on('change', function () {
            const valorSelecionado = $(this).val();
            const $cosifSelect = $('#cosifSelect');
            console.log("Produto selecionado:", valorSelecionado);
            console.log("Lista cosif", cosifData);

            $cosifSelect.html('<option value="">-- Selecione o Cosif --</option>');
            const cosifFiltrados = cosifData.filter(c => c.productId === valorSelecionado);
            console.log("Lista cosif filtrada", cosifFiltrados);

        $.each(cosifFiltrados, function (index, c) {
            $cosifSelect.append($('<option>', {
                value: c.codifId,
                text: c.classificationCode
            }));
        });
    });
</script>

